/*----------document standards----------*/
h1 {
    font-family: neue-kabel;
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    position:
}

p {
    font-family: neue-kabel;
    font-size: .85em;
    color: #000;
    font-weight:300;
}

#contact {
    background-color: #000;
}

/*----------nav------------*/
ul {
    position: fixed;
    list-style-type: none;
}

li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-family: neue-kabel;
    text-transform: uppercase;
    font-size: 0.65em;
    color: #000;
}

li a:hover {
    color: #ee2a27;
    text-decoration: line-through;
}

/*----------hero----------*/

/*----------footer----------*/
footer {
    background-color: white;
    position: absolute;
    padding-top: 10%;
    height: 30vh;
    width: 100vw;
    text-transform: uppercase;
    text-align: center;
}